$color-primary: #A3CD3C; //Hijau
$color-secondary: #3894E4; //Biru
$color-text: #707070; //Hitam
$color-hover: #0698ef; //Biru

$color-caption: #252525;
$color-border: #dedede;

$color-fb: #1877f2;
$color-tw: #1da1f2;
$color-ig: #f00073;
$color-yt: #ff0000;

@font-face {
  font-family: Poppins;
  src: url('../font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-bold;
  src: url('../font/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-black;
  src: url('../font/Roboto/Roboto-Black.ttf');
}

html, body{
  height: 100%;
  margin: 0;
}

body{
	font-family: "Poppins", Roboto, Arial !important;
  background: #fbfbfb !important;
}

.container{
	max-width: 1040px !important;
}

.row-content{
  display: flex;
  flex-wrap: warp;
}