@font-face{font-family:Baloo-tamma;src:url("../font/Baloo_Tamma_2/BalooTamma2-Regular.ttf")}@font-face{font-family:Baloo-tamma-black;src:url("../font/Ubuntu/Baloo-tamma-black")}@font-face{font-family:Roboto;src:url("../font/Roboto/Roboto-Regular.ttf")}@font-face{font-family:Roboto-black;src:url("../font/Roboto/Roboto-Black.ttf")}html,body{height:100%;margin:0}body{font-family:"Baloo-tamma", Roboto, Arial !important}.container{max-width:1260px !important}
